@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Administrador</h1>
</div>

<div class="col-mb-3" align="center" >
    <img src="https://i.imgur.com/9M4b5ll.png" width="540" height="338" />
    <div class="container2 col-md-3" id="btn">
        <div class="mb-3 row">
        </div>
        <div class="mb-3 row">
            <a href="http://localhost:5181/Administracion/Paciente " button class="btn">Gestión de Pacientes</a>
        </div>
        <div class="mb-3 row">
            <a href="http://localhost:5181/Administracion/Medico" button class="btn">Gestión de Médicos</a>
        </div>
        <div class="mb-3 row">
            <a href="http://localhost:5181/Administracion/Tratamiento" button class="btn">Gestión de Tratamientos</a>
        </div>
    </div>
</div>


<style>
    .btn {
        position: center;
        border: 2px solid #03bb85;
        color: white;
        font-size: 20px;
        background: #03bb85;
        opacity: 0.9;
    }

    .btn:active {
        transform: translateY(4px);
    }

    .btn:hover {
        opacity: 1;
        color: whitesmoke;
    }

    body {
        font-family: arial narrow;
    }
</style>
