@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-md-3 imgCenter" id="divInicio" style="align-items">
        <div class="mb-3 row">
            <div style="height: 350px;">
                <img src="https://i.postimg.cc/x1LNSptN/Dental-Center.png" width="400" height="400" />
            </div>
        </div>
        <div class="mb-3 row" style="align-items">
        <a href="@Url.Action("Register","Security")" class="btn btn-success">Registrarse</a>
        <p></p>
        <a href="@Url.Action("Login","Security")" class="btn btn-success">Ya soy usuario</a>
    </div>
</div>

<style>
    .imgCenter{
        margin-left: auto;
        margin-right: auto;
        width: 32%;
    }
    #divInicio{
        padding-top: 80px;
    }
</style>