@using FrontendDentalCenter.ViewModels
@{
    var Medico = ViewBag.Medico as MedicoViewModel;
}


<div class="text-center">
    <h1 class="display-4">DATOS DE HISTORIAS MÉDICAS</h1>

</div>
<div class="container2 col-md-3" id="caja">
    <div class="mb-3 row">
        
        <a href="@Url.Action("ListaCita","Cita",new{ idCita=Medico.IdMedico})" button class="btn" role="button">CONSULTAR HISTORIAL</a>
    </div>
    <div class="mb-3 row">
        <a href="http://localhost:5181/Medico/Cita/ListaCita " button class="btn">REGISTRAR HISTORIAL</a>
    </div>
    <div class="mb-3 row">
        <a href="http://localhost:5181/Medico/Odontograma" button class="btn">ODONTOGRAMA</a>
    </div>
    <div class="mb-3 row">
        <a href="http://localhost:5181/Medico/Radioterapia/Radioterapia" button class="btn">REGISTRAR RADIOGRAFIA</a>
    </div>
    <div class="mb-3 row">
        <a href="" button class="btn">CONSULTAR RADIOGRAFIA</a>
    </div>
</div>

<div class="container3 col-md-3" id="form-login">
    <div class="row" id="div-login">
        <div class="col-mb-3" align="center">
            <img src="https://i.postimg.cc/L5GHm9gS/Medico.png" width="350" height="500" />
        </div>
        <div class="text-center md-3">
            <h1>Medico @Medico.Nombre @Medico.Apellido</h1>
        </div>
    </div>
</div>




<style>
    #form-login {
        margin-top: 8%;
    }

    #form-login {
        display: flex;
        align-items: center;
        justify-content: left;
        align-content: center;
    }

    .container2 {
        position: relative;
        left: 750px;
        top: 140px;
    }

    .container3 {
        position: relative;
        left: 150px;
        top: -400px;
    }

    .btn {
        border: 2px solid #03bb85;
        color: white;
        font-size: 20px;
        background: #03bb85;
        opacity: 0.9;
    }

    .display-4 {
        font-size: 60px;
        color: #03bb85;
        font-weight: 900;
    }

    .btn:active {
        transform: translateY(4px);
    }

    .btn:hover {
        opacity: 1;
        color: whitesmoke;
    }

    body {
        font-family: arial narrow;
    }
</style>


