@using FrontendDentalCenter.Areas.Medico.Models

@{
    var pacientes = ViewBag.pacienteList as IEnumerable<PacienteViewModel>;
}




<table class="table table-striped" id="tbListadoHistoriaMedica">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pacientes)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Dni</td>
                <td>
                    <a href="http://localhost:5181/Medico/Medico/ListaHistoriaMedicaByPaciente" class="btn btn-success">Ver Historial</a>

                    <a href="@Url.Action("RegistrarHistoria", "HistoriaMedica" , new { Nombre=item.Nombre,Correo =@item.Correo ,Apellido=@item.Apellido, Telefono=@item.Telefono, Dni=@item.Dni})" class="btn btn-success">Registrar Historial</a>
                        

                   

                    
                </td>
            </tr>
        }
    </tbody>
</table>





<style>
    body {
        font-family: arial narrow;
    }

</style>

