@using FrontendDentalCenter.ViewModels;
@{
    //var pacientes = ViewBag.PacienteList as FrontendDentalCenter.ViewModels.PacienteViewModel;
    var Nombre = ViewBag.NombreList as string;
    var Apellido = ViewBag.ApellidoList as string;
    var Correo = ViewBag.CorreoList as string;
    var Telefono = ViewBag.TelefonoList as string;
    var Dni = ViewBag.DniList as string;
    var tratamiento = ViewBag.TratamientoList as List<TratamientoViewModel>;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESGISTRO DE HISTORIAL</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main>
        <h1>
            REGISTRAR HISTORIAL <h1>
                <form class="formulario">
                    <fieldset class="dato-cliente">
                        <legend>DATOS DEL CLIENTE</legend>
                        <label>
                            <span>NOMBRE:</span>
                            <input type="text" readonly name="nombre" placeholder=@Nombre>
                        </label>
                        <label for="">
                            <span>Email:</span>
                            <input type="email" readonly name="email" placeholder=@Correo>
                        </label>

                        <label for="">
                            <span>Apellido:</span>
                            <input type="text" readonly name="apellido" placeholder=@Apellido>
                        </label>

                        <label for="">
                            <span>Telefono:</span>
                            <input type="text" readonly name="telefono" placeholder=@Telefono>
                        </label>

                        <label for="">
                            <span>DNI:</span>
                            <input type="text" readonly name="dni" placeholder=@Dni>
                        </label>
                    </fieldset>

                    <fieldset class="dato-fecha">
                        <legend>FECHA</legend>
                        <label>
                            <span>Fecha:</span>
                            <input type="date" name="fecha">
                        </label>
                        <label>
                            <span>Hora:</span>
                            <input type="time" name="hora">
                        </label>
                    </fieldset>

                    <fieldset class="dato-receta">
                        <legend>RECETA</legend>
                        <label>
                            <span>Nombre:</span>
                            <input type="text" name="nombre" readonly>
                        </label>
                        <label>
                            <span>RUC:</span>
                            <input type="text" name="ruc" readonly placeholder="20503644967">
                        </label>
                        <label>
                            <span>Especialidad:</span>
                            <input type="text" name="especialidad" readonly>
                        </label>
                        <div class="table">
                            <table border>
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="b">
                            <button class="boton4">Agregar Medicameto</button>
                        </div>
                        <label class="ComBXM">

                            <select name="" id="lang">
                                <option value="Medicamento1">Medicamento1</option>
                                <option value="Medicamento2">Medicamento2</option>
                                <option value="Medicamento3">Medicamento3</option>
                                <option value="Medicamento4">Medicamento4</option>
                            </select>
                        </label>
                        <label class="observaciones">
                            <span>Observaciones</span>
                            <textarea name="Observaciones" rows="10" class="observaciones"></textarea>
                        </label>
                    </fieldset>

                    
                </form>
                

                <fieldset class="dato-cliente">
                    <div class="botones">
                    <a href="http://localhost:5181/Medico/Cita/ListaCita" class="btn boton1">Cancelar</a>
                    @*<button class="boton1">Cancelar</button>*@
                    <button class="btn boton2">Guardar</button>
                    <button id="btnAgregarTratamiento" class="btn boton3">Agregar</button>
                </div>
                </fieldset>
                

    </main>
</body>









<!-- Modal -->
<div class="modal fade" id="modalRegistroTratamiento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mantenimiento de Tratamientos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <form class="row align-text-top g-1">
                        <div class="col-auto">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label ">Tratamiento</label>
                        </div>
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                            <select class="form-select" id="inlineFormSelectPref">
                                <option selected></option>
                                @foreach (var item in tratamiento)
                                {
                                    <option value="@item.IdTratamiento">@item.Descripcion</option>
                                }


                            </select>
                        </div>
                        

                    </form>


                    <div class="col-auto" id="idDatos" style="display: none">
                        <form class="row g-2">
                            <div class="col-auto">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label ">Tipo</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="Tipo" placeholder="">
                            </div>
                            <div class="col-auto">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label ">Duración</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="Duracion" placeholder="">
                            </div>
                            <div class="col-auto">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label ">días</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="Dias" placeholder="">
                            </div>
                        </form>
                        <form class="row g-2">
                            <div class="col-auto">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label ">Precio</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" id="Precio" placeholder="">
                            </div>
                            <div class="col-auto">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label ">Nombre</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="Nombre" placeholder="">
                            </div>
                        </form>

                    </div>

                    
                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">

                    <form>
                    <button type="button" class="btnM" onclick="myFunction()">Crear</button>
                    
                </form>

                <form>
                    <button type="button" class="btnM">Seleccionar</button>
                </form>

                <form>
                        <button type="button" class="btnM" data-bs-dismiss="modal">Cancelar</button>
                </form>
                </div>
                
            </div>
        </div>
    </div>
</div>





<script>
    function myFunction() {
        var x = document.getElementById("idDatos");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    $("#btnAgregarTratamiento").click(function () {
        var myModal = new bootstrap.Modal(document.getElementById('modalRegistroTratamiento'))
        $("#Tipo").val("");
        $("#Duracion").val("");
        $("#Precio").val("");
        $("#Nombre").val("");
        $("#Dias").val("");
        myModal.show();
    });



</script>


<style>

    form {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
        grid-gap: 14px;
    }

    body {
        font-family: arial narrow;
    }

    legend {
        font-size: 17px;
        font-weight: 900;
    }

    form .dato-cliente {
        grid-row: 1 / span 1;
        /* grid-column: 1 / span 2; */
    }

    form .dato-fecha {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    form fieldset label {
        display: block;
        font-size: 17px;
        font-weight: 600;
        margin: 8px 0;
    }

        form fieldset label input {
            outline: none;
            padding: 5px;
        }

        form fieldset label span {
            width: 95px;
            display: inline-block;
        }

    form fieldset textarea {
        display: block;
    }

    form .dato-receta {
        grid-row: 1 / span 2;
        max-width: 600px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 5px;
        /* grid-column: 3 / span 2; */
    }

    form .botones {
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
        text-align: center;
    }

    form .b {
        grid-row: 3 / span 2;
        grid-column: 3 / span 15;
        text-align: center;
    }

    form .observaciones {
        grid-row: 4 / span 1;
        grid-column: 1 / span 2;
        text-align: center;
    }

        form .observaciones textarea {
            /* width: 200px !important; */
            width: 100%;
            resize: none;
        }

    form table {
        font-size: 18px;
        width: 200px;
    }

    form .table table thead tr th {
        width: 100px !important;
    }

    form .table {
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
        width: 100%;
        /* border: 2px solid red; */
        margin: auto;
    }

    .boton1, .boton2, .boton3, .boton4 {
        padding: 10px;
        border: none;
        font-size: 17px;
        color: #fff;
    }

    .boton1 {
        background-color: #a00;
        color: #fff;
    }

    .boton2 {
        padding: 10px;
        background-color: #0a0;
    }

    .boton3 {
        padding: 10px;
        background-color: #FFC733;
    }

    .boton4 {
        padding: 10px;
        background-color: #0a0;
    }

    form .ComBXM {
        grid-row: 3 / span 1;
        grid-column: 1 / span 5;
        margin: auto;
    }

    .ComBXM {
        padding: 10px;
        background-color: #fff;
    }

    .btn-group .btnM {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

.btn-group .btnM:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .btnM:hover {
  background-color: #3e8e41;
}


</style>